<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <h3>登録情報編集ページ</h3>
        </div>
    </div>
        <%= form_for(@user) do |f| %>
            <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>

            
            <h4>名前</h4>
                <%= f.text_field :name %>
            <h4>自己紹介</h4>
                <%= f.text_field :introduction %>
            <h4>好きな機種</h4>
                <%= f.text_area :favirite_machine %>
                <%= f.submit "Update User", class:"btn btn-lg btn-info mt-20 " %>

        <% end %>
</div>
