<% #いいねのランキング %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>いいねが多い投稿</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% all_ranks.each.with_index(1) do |all_rank,i| %>

                        <tr>
                            <td>
                                <p><%= i %> 位</p>
                            </td>

                            <td>
                                <%= link_to user_path(all_rank.user) do %>
                                    <%= attachment_image_tag all_rank.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %><br>
                                    <%= all_rank.user.name %>
                                <% end %>
                            </td>

                            <td>
                                <%= link_to post_path(all_rank) do %>
                                    <%= attachment_image_tag all_rank, :image, format: 'jpeg', fallback: "no_image.jpg", size: "120x120" %><br>
                                    <p>投稿詳細ページへ</p>
                                <% end %>
                            </td>
                        
                            <td class="kkk">
                                <%= all_rank.body %>
                            </td>

                            <td>
                                | いいね <%= all_rank.favorites.count %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <% #コメントのランキング %>
        <div class="col-md-6">
            <table class="table">
                <thead>
                        <tr>
                            <th>コメントが多い投稿</th>
                        </tr>
                </thead>
                <tbody>
                    <% ranks.each.with_index(1) do |rank,i| %>
                        <tr>
                            <td>
                                <p><%= i %> 位</p>
                            </td>

                            <td>
                                <%= link_to user_path(rank.user) do %>
                                    <%= attachment_image_tag rank.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %>
                                <% end %><br>
                                <%= rank.user.name %>
                            </td>

                            <td>
                                <%= link_to post_path(rank) do %> 
                                    <%= attachment_image_tag rank, :image, format: 'jpeg', fallback: "no_image.jpg", size: "120x120" %>
                                    <p>投稿詳細ページへ</p>
                                <% end %>
                            </td>
                        
                            <td class="kkk">
                                <%= rank.body %>
                            </td>

                            <td>
                                <%= rank.comment %>
                                | コメント数 <%= rank.comments.count %>
                            </td>
                        <tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

