<h1>新規投稿</h1>
<%= render 'layouts/error_messages', model: post %>
<%= form_with model: post, local: true do |f| %>
    
    <%= attachment_image_tag post, :image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %>
    <%= f.attachment_field :image, placeholder: "投稿画像", class: "user-edit-form" %>
    <h4>本文</h4>
    
        <% if @post.errors.any? %>
        <div>

            <p>文字を入力してください</p>
        </div>
        <% end %>
    <%= f.text_area :body %><br>
    <%= f.submit '投稿' %>
<% end %>