<h1><%= @post.user.name %>さんの投稿詳細ページ</h1>
<%= render 'users/list', user: @user %>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>ツイート</th>
                <th>Opinion</th>
                <th>いいね</th>
            </tr>
        </thead>

            <tr>
                <td>
                    <%= attachment_image_tag @user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %><br>
                        <%=link_to @user.name ,user_path(@user)%>
                </td>

                <td>
                <%=@post.body%>
                </td>

                <td>
                    コメント数 <%= @post.comments.count %>
                    <%= render 'users/likes', post: @post %>
                </td>

                <td>
                    <% if current_user==@user %>
                        <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                    <% end %>
                </td>
            </tr>
    </table>
    <% if user_signed_in? %>
        <%= form_with model: @comment,url:post_comments_path(@post) do |f| %>
            <div class="row">
                <div class="col-sm-12">
                <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
            </div>
            </div>
            <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %>
    <% end %>
    <table class="table">
    <thead>
    <tr>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <h2>コメント</h2>
    <% @comments.each do |comment| %>
            <tr>
                <td>
                    <%= attachment_image_tag comment.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %><br>
                        <a href="#" class="link-author"><%= comment.user.name %></a><br>
                    <%= comment.created_at.strftime('%Y/%m/%d') %>
                </td>

                <td>
                    <div class="comment-entry"><%= comment.comment %></div>
                </td>

                <td>
                    <% if comment.user == current_user %>
                        <%= link_to "削除", post_comments_path(comment), method: :delete, class: "btn btn-danger pull-right" %>
                    <% end %>
                <td>
            </tr>
            
        </li>
    <% end %>
    </tbody>
</table>