<!DOCTYPE html>
<html>
  <head>
    <title>Surogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <div class="footerFixed">
    <header class="head-line clearfix" style="background-color: lightyellow">
      <nav class="nav navbar-nav navbar-left">
        <h2 class="title" style="color: green">surogram</h2>
      </nav>
      <div class="container"> 
        <h3 class="nav-item">
          <div class="row"> 
          <nav>
            <ul class="nav navbar-nav navbar-right">
            
            <% if user_signed_in? %>

              <li><%= link_to " top",root_path, class: "glyphicon glyphicon-home top"%></li>

              <li><%= link_to " new", new_post_path, class: "glyphicon glyphicon-file new"%></li>

              <li><%= link_to " my",my_user_path(current_user.id) , class: "glyphicon glyphicon-user my"%></li>

              <li><%= link_to " Logout",destroy_user_session_path, method: :delete , class: "glyphicon glyphicon-log-out logout"%></li>

              <% else %>

              <li><%= link_to " top",root_path, class: "glyphicon glyphicon-home top" %></li>

              <li><%= link_to " About",home_about_path , class: "glyphicon glyphicon-link about" %></li>

              <li><%= link_to " sign up",new_user_registration_path , class: "glyphicon glyphicon-edit sign_up" %></li>

              <li><%= link_to " login",new_user_session_path ,class: "glyphicon glyphicon-log-in sign in"%></li>
            <% end %>
            
            </ul>
          </nav>
          </div>
        </h3>
      </div>
    </header>
    <%= yield %>
      <footer>
        <div class="footer-text">
          CopyRight surogram.inc 　|　<%= link_to " 管理者ログイン",new_admin_user_session_path, class: "glyphicon glyphicon-wrench"%>
        </div>
      </footer>
      </div>
  </body>
</html>
